.Section {
  margin: 0;

  width: 600px;
  margin-left: auto;
  margin-right: auto;

  padding: 30px 15px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
  }
}
